<content-body>
  <div flex ng-include src="global.clientPath + '/<%= resource_name %>/<%= resource_name %>-form.html'" ng-show="<%= alias_controller %>.viewForm"></div>
  <div flex ng-include src="global.clientPath + '/<%= resource_name %>/<%= resource_name %>-list.html'" ng-hide="<%= alias_controller %>.viewForm"></div>
</content-body>
